<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../lib/leaflet/leaflet.css">
    <link rel="stylesheet" href="../lib/leaflet_routing/leaflet-routing-machine.css">
    <link rel="stylesheet" href="../style/main.css">
    <title>Document</title>
</head>
<body>
    <div id="map" class="map" ></div>

    <footer>
        <ul>
            <li id="skLeft" data-type="view" data-link=""></li>
            <li id="skCenter" data-type="view" data-link="search.html">&#128270;</li>
            <li id="skRight"data-type="view" data-link=""></li>
        </ul>
    </footer>

    <script src="../lib/leaflet/leaflet.js"></script>
    <script src="../lib/leaflet_routing/leaflet-routing-machine.min.js"></script>
    <script src="../lib/softkeys.js"></script>
    <script src="../controllers/index.js"></script>
</body>
</html>